<p style="color: green"><%= notice %></p>
<%= render "form", question: @question %>
<h1>Questions</h1>

<div id="questions">
  <% @questions.each do |question| %>
    <%# <%= render question %>
    <div class="card">
      <div class="card-body">
      <%= link_to question.description, question %>
      </div>
 <%= link_to upvote_question_path(question) do %>
      <i class="fa fa-thumbs-up"></i>
      <%= question.upvotes %>
     <% end %>

     <%= link_to downvote_question_path(question) do %>
      <i class="fa fa-thumbs-down" style="color: red;"></i>
      <%= question.downvotes %>
     <% end %>
    </div>
     
     Number of answers: <%= question.answers.size %>
    

    
    </p>

  <% end %>
</div>

<%= link_to "New question", new_question_path %>
